body {
    background-image: url("../images/hamburger.jpeg");
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 238, 0);
    opacity: 0.6;
    z-index: -1;
}

.title {
    color: #ff4545;
}

.instructions {
    color: #6363ff;
}

.optionsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.option {
    max-width: 200px;
    opacity: 0.9;
}

@media only screen and (max-width: 450px) {
    .option {
        max-width: 80px;
    }
}

#feedback {
    color: #6363ff;
    font-size: 1.5rem;
}



.buttonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}


.button {
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    background: yellow;
    color: #6363ff;
    font-weight: 900;
}

.button:hover {
    background-color: #ecec00;
}
